.table_parent{display: table}
.table_child{display: table-cell; vertical-align: middle;}
.dashed{border: 1px dashed black;}



.homepage_container{height: 100vh; background-image: url('../img/girl_collage.jpg')}
.homepage_div{height: 100vh;}



.subpage_div{height: 80vh;}
.subtext_area{height: 20vh;}

#percentage_div{border-radius: 5px;}
#homepage_slothdiv{background-image: url('../img/baby_sloth.jpg')}
#bonus_page{background-image: url('../img/slothlove.jpg')}
#reset_button{color: white; font-size: 20px;}
