{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 subpage_div table_parent" style="background-image: url('{% static 'img/baby_sloth.png' %}');
                                      background-repeat: repeat;
                                      background-size: cover;">

      <a href="/interface" style="position: absolute; right: 15px; top: 15px;"><img src="{% static 'img/sloth_icon.png' %}" alt="sloth_icon" style="height: 50px;"></a>


        <div class="table_child">

          <h2 style = "margin-bottom: 30px;">{{place.name_of_establishment}}</h2>

          <h4 style = "margin-bottom: 30px;">{{place.plank_clue}}</h4>
          <h4>{{place.plank_prompt}}</h4>

          <form method="post">
            {% csrf_token %}
            {% if place.location_complete %}
              <fieldset disabled>
              {{ clueform.answer|add_class:"form-control"}}
              <input style = "margin-top: 15px;" class="btn btn-success" type="submit" value="Submit">
              <h4 style="color: #5cb85c; margin-top: 15px;">You got this right!  The answer was {{place.plank_answer}}</h4>
              </fieldset>
            {% else %}
              {{ clueform.answer|add_class:"form-control"}}
              <input style = "margin-top: 15px;" class="btn btn-success" type="submit" value="Submit">
            {% endif%}
          </form>


        </div> <!--middle aligned stuff -->

      </div><!--subpage_div-->

      <!-- FOOTER AREA for notes-->
      <div class="col-sm-12 subtext_area " style = "background-color: rgba(1, 1, 1, 0.5); color: white; padding-top: 10px;">
        <p>Instructions: {{place.instructions}}</p>
      </div>


    </div><!-- row -->


  </div><!--container -->

{% endblock %}
