{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 subpage_div table_parent" style="background-image: url('');
                                      background-repeat: repeat;
                                      background-size: cover;">

      <a href="/interface" style="position: absolute; right: 15px; top: 15px;"><img src="{% static 'img/sloth_icon.png' %}" alt="sloth_icon" style="height: 50px;"></a>


        <div class="table_child">

          <h2>{{place.name_of_establishment}}</h2>

          <form method="post">
            {% csrf_token %}
            {{ clueform.answer|add_class:"form-control"}}
            <input class="btn btn-success" type="submit" value="submit">
          </form>


        </div> <!--middle aligned stuff -->

      </div><!--subpage_div-->

      <!-- FOOTER AREA for notes-->
      <div class="col-sm-12 subtext_area " style = "background-color: rgba(1, 1, 1, 0.5); color: white; padding-top: 10px;">
        <p>This is sample text</p>
      </div>


    </div><!-- row -->


  </div><!--container -->

{% endblock %}
