{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 subpage_div table_parent" style="background-image: url('');
                                      background-repeat: repeat;
                                      background-size: cover;">

      <a href="/interface" style="position: absolute; right: 15px; top: 15px;"><img src="{% static 'img/sloth_icon.png' %}" alt="sloth_icon" style="height: 50px;"></a>


        <div class="table_child text-center">
            <h1 style="margin-bottom: 30px;" >YOU'RE AWESOME!</h1>
            {% if nextpk == '0' %}
              <a href="{% url 'questions:thanks_view' %}"><button class='btn btn-success'>You freakn' did it!</button></a>
            {% else %}
              <a href="{% url 'questions:place_detail' pk=nextpk %}"><button class='btn btn-success'>Find out where you're going next!</button></a>
            {% endif %}
        </div> <!--middle aligned stuff -->

      </div><!--subpage_div-->

      <!-- FOOTER AREA for notes-->
      <div class="col-sm-12 subtext_area " style = "background-color: rgba(1, 1, 1, 0.5); color: white; padding-top: 10px;">
        <p></p>
      </div>


    </div><!-- row -->


  </div><!--container -->

{% endblock %}
