{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 subpage_div table_parent" style="background-image: url('');
                                      background-repeat: repeat;
                                      background-size: cover;">

      <a href="/interface" style="position: absolute; right: 15px; top: 15px;"><img src="{% static 'img/sloth_icon.png' %}" alt="sloth_icon" style="height: 50px;"></a>


        <div class="table_child text-center">
            <h1 style="margin-bottom: 30px;" >I have to congratulate you for getting through this.  You made it through a crazy sleep deprived mind-child. </h1>
            <h1><i>Bravo</i></h1>

        </div> <!--middle aligned stuff -->

      </div><!--subpage_div-->

      <!-- FOOTER AREA for notes-->
      <div class="col-sm-12 subtext_area " style = "background-color: rgba(1, 1, 1, 0.5); color: white; padding-top: 10px;">
        <p>You'll notice a little easter egg on the front page.</p>
      </div>


    </div><!-- row -->


  </div><!--container -->

{% endblock %}
